[submodule "Mixins/strip-trailing-whitespace.chocmixin"]
	path = Mixins/strip-trailing-whitespace.chocmixin
	url = git@github.com:drudge/strip-trailing-whitespace.chocmixin.git
[submodule "Mixins/github-flavored-markdown.chocmixin"]
	path = Mixins/github-flavored-markdown.chocmixin
	url = git@github.com:drudge/github-flavored-markdown.chocmixin.git
[submodule "Mixins/transmit.chocmixin"]
	path = Mixins/transmit.chocmixin
	url = git@github.com:drudge/transmit.chocmixin.git
[submodule "Mixins/javascript-tools.chocmixin"]
	path = Mixins/javascript-tools.chocmixin
	url = git@github.com:drudge/javascript-tools.chocmixin.git
[submodule "Mixins/zap-gremlins.chocmixin"]
	path = Mixins/zap-gremlins.chocmixin
	url = git@github.com:drudge/zap-gremlins.chocmixin.git
[submodule "Mixins/gist.chocmixin"]
	path = Mixins/gist.chocmixin
	url = https://github.com/drudge/gist.chocmixin.git
[submodule "Truffles/property-list.truffle"]
	path = Truffles/property-list.truffle
	url = git://github.com/chocolat/property-list.truffle.git
[submodule "Truffles/ini.truffle"]
	path = Truffles/ini.truffle
	url = git://github.com/chocolat/ini.truffle.git
[submodule "Truffles/less.truffle"]
	path = Truffles/less.truffle
	url = git://github.com/chocolat/less.truffle.git
[submodule "Truffles/diff.truffle"]
	path = Truffles/diff.truffle
	url = git://github.com/chocolat/diff.truffle.git
[submodule "Truffles/sass.truffle"]
	path = Truffles/sass.truffle
	url = git://github.com/chocolat/sass.truffle.git
[submodule "Truffles/jade.truffle"]
	path = Truffles/jade.truffle
	url = git@github.com:drudge/jade.truffle.git
[submodule "Truffles/node.truffle"]
	path = Truffles/node.truffle
	url = git@github.com:drudge/node.truffle.git
